        /* Estilos para o corpo da página */
        .content {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        /* Estilos para o cabeçalho */
        .content-header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        /* Estilos para o conteúdo principal */
        .content-main {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        /* Estilos para a tabela */
        .content-table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #ddd;
        }

        /* Estilos para o conteudo da tabela */
        .content-cel, .content-item {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        /* Estilos para o cabeçalho da tabela*/
        .content-cel {
            background-color: #f2f2f2;
        }

        /* Estilos para a seção de rodapé */
        .content-footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

